@page
@model PROJET_ASI.Pages.Logements.CreateModel

@{
    ViewData["Title"] = "Ajouter";
}

<h1>Ajouter</h1>

<h4>Logement</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Logement.Adresse" class="control-label"></label>
                <input asp-for="Logement.Adresse" class="form-control" />
                <span asp-validation-for="Logement.Adresse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Logement.Prix" class="control-label"></label>
                <input asp-for="Logement.Prix" value="1" class="form-control" />
                <span asp-validation-for="Logement.Prix" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Logement.Superficie" class="control-label"></label>
                <input asp-for="Logement.Superficie" value="1" class="form-control" />
                <span asp-validation-for="Logement.Superficie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Logement.Nb_chambres" class="control-label"></label>
                <input asp-for="Logement.Nb_chambres" value="1" class="form-control" />
                <span asp-validation-for="Logement.Nb_chambres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Logement.ProprietaireID" class="control-label">Propriétaire</label>
                <select asp-for="Logement.ProprietaireID" class="form-control" asp-items="ViewBag.ProprietairesIDs"></select>
            </div>

            <!-- Une liste déroulante des équipements -->
            <div class="form-group">
                <label asp-for="selectedEquipementsIds" class="control-label">Equipements</label>
                <select asp-for="selectedEquipementsIds" class="form-control" asp-items="ViewBag.EquipementsIDs" multiple name="selectedEquipementsIds"></select>
            </div>

            <div class="form-group">
                <input type="submit" value="Ajouter" class="btn btn-primary" />
            </}>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Annuler</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
